.datos{   
    background: url(../dashboard/hotels.jpg);
    background-size: cover;
    height: 1007px;
    display: flex;
   
}.logo-img{
    width: 30%;
}
.formulario{
    background-color: rgba(255, 255, 255, 0.425);
    margin-left: 22%;
    margin-top: 3%;
    border-radius: 5px;
    width: 75%;
    height: 90%;
}.form img{
    width: 20%;
}.titulo{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 2em;
}.logo-img img{
    width: 60%;
}.carga{
    background-color: var(--azuloscuro);
    height: 3em;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}.carga i{
    font-size: 2em;
    color: #fff;
}#log-des{
    margin-right: 20%;
}.logo-img button{
    width: 60%;
    height: 4em;
    font-size: 1.2em;
    background-color: var(--negro);
    color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}.info{
    padding: 5%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}.form{
    font-size: 1em;
    width: 65%;
}
.doc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}.nom{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}.origen{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.genero{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.contra{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.form input{
    margin-top: 4%;
    font-size: 1em;
    color: var(--negro2);
    height: 2em;
    border: none;
    background-color: rgba(255, 255, 255, 0.719);
}.form label{
    font-size: 1.2em;

}
.act button{
    font-size: 1em;
    margin-top: 5%;
    width: 30%;
    height: 3em;
    border: none;
    color: white;
    background-color: var(--negro);

}.cambio button{
    font-size: 1em;
    margin-top: 5%;
    width: 30%;
    height: 3em;
    border: none;
    color: white;
    background-color: var(--negro);

}

#inf{
    display: flex;
    flex-direction: column;
}#inf input{
    width: 130%;
}.radio{
    display: flex;
    flex-flow: row nowrap;
}